service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /topics/{document=**} {
    	allow write: if false;
  		allow read: if request.auth.token.root == 3;
    }
  }
}
